    <header>
    <div class="wrapper">
      <h1 id="histoire">L'histoire d'internet</h1>
        
    <nav>
<ul>
                    <a href="https://mathildelgrd.github.io/flatfile/">Accueil</a>
                    <a href="https://mathildelgrd.github.io/flatfile/about">About</a>
                    <a href="https://mathildelgrd.github.io/flatfile/equipe">Equipe</a>
                    <a href="https://mathildelgrd.github.io/flatfile/shop">Boutique</a>
                    <a href="https://mathildelgrd.github.io/flatfile/contact">Contact</a>
</ul>
</nav>
        </div>
    </header>
